html
	head
		title
	body
		header
			nav
				div
					a(href= "/") Home
				div 
					a(href='/register') Register
		main
			h1 Login page:
				form(action='/login' method='post')
					input(id='email' name='email' placeholder='Email' maxlength='35' required)
					br
					input(type='password' id='password' name='password' maxlength='35' placeholder='Wachtwoord' required)
					br
					input(type='submit' value='Login' id='submit')
		footer
			h4 &copy; 2017 Ansaar School Inc. All rights reserved.