html
	head
		title
	body
		header
			nav
				div
					a(href= "/") Home
				div 
					a(href='/register') Register
		main
			h1 Welcome to your profile #{user.firstname}
		footer
			h4 &copy; 2017 Ansaar School Inc. All rights reserved.