* {
	color: red;
	text-align: center;
}

div {
	background-color: lightblue;
	margin: auto;
	border: 1px solid black;
	width: 50%;
}

body {
	background-image: url('../img/achtergrond.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    margin: auto;
}